node_modules
dist
.DS_Store
*.log
.vite
coverage
demo/data/*.sqlite
demo/data/*.sqlite-journal
sandbox/demo/data/*.sqlite
sandbox/demo/data/*.sqlite-journal
demo/.compiled
sandbox/demo/.compiled/*
!sandbox/demo/.compiled/.gitkeep
.env.local
